@import './colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}

body {
	background-color: $lightpink;
	background-image: url(../assets/images/background-pattern-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.invisible {
	display: none;
}
.box {
	width: 90%;
	height: 70%;
	margin: 40% auto;
	padding: 40px 30px;
	background-color: $white;
	border-radius: 8px;
	img {
		// scale: 0.6;
		display: inline-block;
	}
	&__title {
		width: 90%;
		height: 60px;
		display: flex;
		align-items: center;
		margin-bottom: 25px;
		h2 {
			font-size: 36px;
			margin-left: 20px;
		}
	}

	&__question {
		color: $darkpurple;
		display: flex;
		align-items: center;
		padding: 10px 0;
		transition: color 0.3s;

		h4 {
			display: inline-block;
			width: 90%;
		}
		img {
			display: inline-block;
			width: 10%;
		}
		&:hover {
			color: purple;
		}
	}
	&__question-img {
		height: 40px;
	}

	&__answer {
		color: $grayishpurple;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}
}

@media (min-width: 1200px) {
	body {
		background-image: url(../assets/images/background-pattern-desktop.svg);
	}
	.box {
		width: 40%;
		height: 70%;
		margin: 15% auto;
		padding: 60px 40px;

		&__title {
			h2 {
				font-size: 60px;
				margin-left: 40px;
			}
		}
	}
}
